In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("play_tennis.csv")
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [3]:
data.drop(columns=["day"], inplace=True)
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [4]:
data.shape

(14, 5)

In [5]:
data["play"].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [6]:
py = 9/14
pn = 5/14
print(py, pn)

0.6428571428571429 0.35714285714285715

In [7]:
# Outlook

In [8]:
pd.crosstab(data["outlook"], data["play"])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [9]:
pon = 0
prn = 2/5
psn = 3/5
poy = 4/9
pry = 3/9
psy = 2/9

In [10]:
# Temp

In [11]:
pd.crosstab(data["temp"], data["play"])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [12]:
pcooln = 1/5
photn = 2/5
pmildn = 2/5
pcooly = 3/9
photy = 2/9
pmildy = 4/9

In [13]:
pd.crosstab(data["humidity"], data["play"])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [14]:
phighn = 4/5
pnormn = 1/5
phighy = 3/9
pnormy = 6/9

In [15]:
pd.crosstab(data["wind"], data["play"])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [16]:
pstrongn = 3/5
pweakn = 2/5
pstrongy = 3/9
pweaky = 6/9

In [17]:
# Outlook-Sunny, Temp-Hot, Humidity-High, Wind-Weak
pyes = py * psy * photy * phighy * pweaky
pno = pn * psn * photn * phighn * pweakn
print(pyes, pno)

0.007054673721340388 0.02742857142857143

In [ ]:
# No